body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    top: 40%;
}

.bungkus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.search-bar {
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: Comfortaa;
    font-weight: bolder;
    outline: none;
    margin-bottom: 20px;
}

.alert {
    text-align: center;
    justify-content: center;
    width: 22.5em;
    position: absolute;
    top: 30%;
    display: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.theme {
}

#showtheme {
    text-align: center;
    bottom: 7%;
    right: 3%;
    position: sticky;
    position: absolute;
    background-color: black;
    border-color: white;
    color: white;
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

#themeOptionsWindow {
    flex-direction: column;
    position: sticky;
    position: absolute;
    align-items: center;
    bottom: 15%;
    right: 3.5%;
}

.theme-option {
    width: 45px;
    position: relative;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 15%;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

/* MEDIA MOBILE */
@media only screen and (max-width: 360px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        position: absolute;
        top: 30%;
    }

    .bungkus {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .search-bar {
        max-width: 70%;
        width: 170px;
        height: 40px;
    }

    .alert {
        text-align: center;
        justify-content: center;
        width: 21em;
        position: absolute;
        top: 20%;
        display: none;
        color: white;
        background-color: red;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}
