body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#search-bar {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.tag {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #000; /* Menambahkan border hitam */
}

.tag.selected { /* Kelas baru untuk tag yang dipilih */
    background-color: #007bff; /* Biru untuk tag yang diinclude */
}

.tag.selected.excluded { /* Kelas baru untuk tag yang diexclude */
    background-color: #dc3545; /* Merah untuk tag yang diexclude */
}