body.dark {
  background-color: black;
}

.tag-box {
  background-color: rgba(0, 0, 0, 0.8);
}

.tag,
.tag-button {
  background-color: black;
}

/* Text colors */
.search-bar,
.tag,
.tag-button,
.alert {
  color: white;
}

/* Border colors */
.search-bar,
.tag,
.tag-button,
.tag-box {
  border-color: white;
}
