body.light {
    background-color: white;
  }
  
  .tag-box {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .tag,
  .tag-button {
    background-color: white;
  }
  
  /* Text colors */
  .search-bar,
  .tag,
  .tag-button,
  .alert {
    color: black;
  }
  
  /* Border colors */
  .search-bar,
  .tag,
  .tag-button,
  .tag-box {
    border-color: black;
  }
  